input {
  border: none;
  box-shadow: 0px 1px 0px 0px #aeb8e1;
  width: 100%;
}

input:focus-visible {
  outline: none;
  box-shadow: 0px 2px 0px 0px #aeb8e1;
}

label {
  color: #a7a7a7;
  font-size: 12px;
}